@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.principal{
    display: flex;
    margin-left: 15px;  
    margin-top: 20px;
    justify-content: center;
}

.principal button{
    margin-top: 25px;
    margin-left: 120px;
    width: 180px;
    height: 50px;
    background-color: #27AE60;
    border: thin;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.principal img{
    width: 450px;
}

.palavra{
    margin-top: 380px;
    margin-left: 40px;
    display: flex;
    width: 300px;
}

.letra{
    margin-right: 5px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.letra-escondida{
    margin-right: 10px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.letras{
    width: 587px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloco-letra{
    width: 40px;
    height: 40px;
    border:solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #E1ECF4;
    color: #417DAA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    cursor: pointer;
}

.selecionado{
    background-color: #9FAAB5;
    color: #7C828A;
}

.chutar{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.chutar input{
width: 300px;
height: 25px;
border-radius: 5px;
margin-left: 10px;
margin-right: 20px;
}

.botao-chutar{
    width: 75px;
    height: 35px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #E1ECF4;
    color: #417DAA;
    font-size: 16px;
}

.botao-selecionado{
    width: 75px;
    height: 35px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #9FAAB5;
    color: #7C828A;
    font-size: 16px;
}

button{
    cursor: pointer;
}

.vermelho{
    color: red;
}

.verde{
    color: green;
}

@media (max-width: 800px){
    .principal img{
        width: 300px;
        
    }
    .palavra{
        margin-top: 200px;
        margin-left: 50px;
    }
}
@media (max-width: 614px){

    .container{
        padding-left: 50%;
    }

    .principal img{
        width: 200px;
    }

    .principal button{
        margin-top: 10px;
        margin-left: 30%;
        width: 100px;
        height: 40px;
        font-size: 14px;

    }
    
    .palavra{
        margin-top: 45%;
        margin-left: 15%;
    }

    .letra{
        margin-right: 5px;
        font-size: 25px;
    }

    .letras{
        width: 350px;
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .bloco-letra{
        width: 50px;
        height: 50px;
    }

    .chutar{
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chutar input{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        }
}